In [1]:
import pandas as pd 
import numpy as np

s = pd.Series() 
print("Pandas Series: ", s) 
data = np.array(['g', 'e', 'e', 'k', 's']) 
  
s = pd.Series(data) 
print("Pandas Series:\n", s)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [2]:
import pandas as pd 
   
df = pd.DataFrame() 
print(df)
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks'] 
  
df = pd.DataFrame(lst) 
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [3]:
import pandas as pd

df = pd.read_csv(r"E:\COLLAGES STUDY DOUCUMENTS\PYTHON PROGRAMMING\data.csv")
print(df.head())

   Unnamed: 0   name  age     city category  sales  a   b
0           0   John   25    Delhi        A    200  5  10
1           1   Riya   22   Mumbai        B    120  2   3
2           2   Aman   30     Pune        A    250  7   8
3           3   Neha   27  Kolkata        C    300  4   6
4           4  Arjun   35   Jaipur        B    200  1   9

In [4]:
import pandas as pd

df = pd.read_csv(r"E:\COLLAGES STUDY DOUCUMENTS\PYTHON PROGRAMMING\data.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13 non-null     int64
 1   name        10 non-null     object
 2   age         13 non-null     int64
 3   city        10 non-null     object
 4   category    10 non-null     object
 5   sales       13 non-null     int64
 6   a           13 non-null     int64
 7   b           13 non-null     int64
dtypes: int64(5), object(3)
memory usage: 964.0+ bytes
None

In [5]:
import pandas as pd

df = pd.read_csv(r"E:\COLLAGES STUDY DOUCUMENTS\PYTHON PROGRAMMING\data.csv")
print(df.isnull().sum())
df = df.fillna(0)

Unnamed: 0    0
name          3
age           0
city          3
category      3
sales         0
a             0
b             0
dtype: int64

In [6]:
import pandas as pd

df = pd.read_csv(r"E:\COLLAGES STUDY DOUCUMENTS\PYTHON PROGRAMMING\data.csv")
ages = df[df['age'] > 25]
print(ages)

    Unnamed: 0   name  age       city category  sales  a  b
2            2   Aman   30       Pune        A    250  7  8
3            3   Neha   27    Kolkata        C    300  4  6
4            4  Arjun   35     Jaipur        B    200  1  9
5            5    Jay   34  Bangalore        A    100  3  7
11          11  Arjun   35        NaN        B      0  1  9

In [7]:
import pandas as pd

df = pd.read_csv(r"E:\COLLAGES STUDY DOUCUMENTS\PYTHON PROGRAMMING\data.csv")
df['total'] = df['a'] + df['b']
print(df.head())

   Unnamed: 0   name  age     city category  sales  a   b  total
0           0   John   25    Delhi        A    200  5  10     15
1           1   Riya   22   Mumbai        B    120  2   3      5
2           2   Aman   30     Pune        A    250  7   8     15
3           3   Neha   27  Kolkata        C    300  4   6     10
4           4  Arjun   35   Jaipur        B    200  1   9     10

In [8]:
import pandas as pd

df = pd.read_csv(r"E:\COLLAGES STUDY DOUCUMENTS\PYTHON PROGRAMMING\data.csv")
res = df.groupby('category')['sales'].sum()
print(res)

category
A    650
B    440
C    300
Name: sales, dtype: int64